@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #0c2461;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  font-size: 40px;
}
.block {
  color: white;
  width: 50vw;
  height: 50vh;
  margin: auto;
  text-align: center;
  padding-top: 12vh;
}
img {
  width: 100%;
  height: auto;
}
